@media only screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
  .menu__btn {
    max-width: 100%;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    max-width: 100%;
  }
  .chlen img{
    max-width: 100%;
  }
  .form-split {
    max-width: 100%;
  }
  .form-split input {
    max-width: 100%;
  }
  .form-split2 {
    max-width: 100%;
  }
  .form-split2 input {
    max-width: 100%;
  }

  select {
    max-width: 100%;
  }
  #birth {
    max-width: 100%;
  }
  #mail {
    max-width: 100%;
  }
  button {
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 1367px) and (max-device-width: 1440px) {
  .menu__btn {
    top: 29px;
    right: 0px;
    left: 1366px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 163.5px 0px 0px 504.32px;
  }
  .chlen img{
    max-width: 100%;
  }
  .form-split {
    margin: 263px 0px 0px 509px;
  }
  .form-split input {
    width: 209px;
    height: 37px;
  }
  .form-split2 {
    margin: 263px 0px 0px 740px;
  }
  .form-split2 input {
    width: 209px;
    height: 37px;
  }

  select {
    width: 452px;
    margin: 335px 0px 0px 509px;
  }
  #birth {
    width: 452px;
    margin: 407px 0px 0px 509px;
  }
  #mail {
    width: 452px;
    margin: 479px 0px 0px 509px;
  }
  button {
    width: 209px;
    margin: 640px 0px 0px 614.4px;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .minihistury img{
    display: none;
  }
  .minitext2 {
    display: none;
  }
  .menu__btn {
    top: 34px;
    right: 0px;
    left: 1298px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 118.5px 0px 0px 518.35px;
  }
  .chlen img{
    max-width: 100%;
  }
  .form-split {
    margin: 218px 0px 0px 522px;
  }
  .form-split input {
    width: 209px;
    height: 37px;
  }
  .form-split2 {
    margin: 218px 0px 0px 753px;
  }
  .form-split2 input {
    width: 209px;
    height: 37px;
  }

  select {
    width: 452px;
    margin: 290px 0px 0px 522px;
  }
  #birth {
    width: 452px;
    margin: 362px 0px 0px 522px;
  }
  #mail {
    width: 452px;
    margin: 434px 0px 0px 522px;
  }
  button {
    width: 209px;
    margin: 595px 0px 0px 628.4px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .minihistury img{
    display: none;
  }
  .minitext2 {
    display: none;
  }
  .menu__btn {
    top: 32px;
    right: 0px;
    left: 968px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 118.5px 0px 0px 280.35px;
  }
  .chlen img{
    margin: -20px 0px 0px 39px;
  }
  .form-split {
    margin: 218px 0px 0px 283px;
  }
  .form-split input {
    width: 209px;
    height: 37px;
  }
  .form-split2 {
    margin: 218px 0px 0px 507px;
  }
  .form-split2 input {
    width: 209px;
    height: 37px;
  }

  select {
    width: 452px;
    margin: 290px 0px 0px 283px;
  }
  #birth {
    width: 452px;
    margin: 362px 0px 0px 283px;
  }
  #mail {
    width: 452px;
    margin: 434px 0px 0px 283px;
  }
  button {
    width: 209px;
    margin: 595px 0px 0px 400px;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px){
  .minihistury img{
    display: none;
  }
  .minitext2 {
    display: none;
  }
  .menu__btn {
    top: 20px;
    right: 0px;
    left: 652px;
    width: 54px;
    height: 54px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 229.5px 0px 0px 152.25px;
  }
  .chlen img{
    width: 736px;
    height: 410.79px;
    margin: -20px 0px 0px 0px;
  }
  .form-split {
    margin: 372px 0px 0px 157px;
  }
  .form-split input {
    width: 209px;
    height: 37px;
  }
  .form-split2 {
    margin: 372px 0px 0px 391px;
  }
  .form-split2 input {
    width: 209px;
    height: 37px;
  }

  select {
    width: 452px;
    margin: 438px 0px 0px 157px;
  }
  #birth {
    width: 452px;
    margin: 495px 0px 0px 156px;
  }
  #mail {
    width: 452px;
    margin: 556px 0px 0px 156px;
  }
  button {
    width: 209px;
    margin: 629px 0px 0px 283px;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .menu__btn {
    top: 18px;
    right: 0px;
    left: 342px;
    width: 54px;
    height: 54px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 144.77px 0px 0px 20.83px;
  }
  .chlen img{
    display: none;
  }
  .form-split {
    margin: 311px 0px 0px 15px;
  }
  .form-split input {
    width: 180.98px;
    height: 37px;
  }
  .form-split2 {
    margin: 311px 0px 0px 215.03px;
  }
  .form-split2 input {
    width: 180.98px;
    height: 37px;
  }

  select {
    width: 381px;
    margin: 383px 0px 0px 15px;
  }
  #birth {
    width: 381px;
    margin: 455px 0px 0px 15px;
  }
  #mail {
    width: 381px;
    margin: 527px 0px 0px 15px;
  }
  button {
    width: 180.98px;
    margin: 688px 0px 0px 114.06px;
  }
}
@media only screen and (max-device-width: 360px){
  .minihistury img{
    position: absolute;
    z-index: -1;
    width: 329px;
    height: 296px;
    margin: 489px 0px 0px 0px;
  }
  .minitext2 {
    font-weight: 100;
    font-size: 26px;
    font-family: "CoFoSans-Regular", sans-serif;
    position: absolute;
    z-index: 1;
    margin: 213px 0px 0px 15px;
  }
  .menu__btn {
    top: 20px;
    right: 0px;
    left: 286px;
    width: 54px;
    height: 54px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .text2{
    margin: 123.98px 0px 0px 16.05px;
  }
  .chlen img{
    display: none;
  }
  .form-split {
    margin: 279px 0px 0px 15px;
  }
  .form-split input {
    width: 156.75px;
    height: 37px;
  }
  .form-split2 {
    margin: 279px 0px 0px 188.25px;
  }
  .form-split2 input {
    width: 156.75px;
    height: 37px;
  }

  select {
    width: 330px;
    margin: 351px 0px 0px 15px;
  }
  #birth {
    width: 330px;
    margin: 432px 0px 0px 15px;
  }
  #mail {
    width: 330px;
    margin: 495px 0px 0px 15px;
  }
  button {
    width: 156.75px;
    margin: 656px 0px 0px 100.8px;
  }
}



@media only screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
  .error1 img{
    max-width: 100%;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (min-device-width: 1367px) and (max-device-width: 1440px) {
  .error1 img{
    display: none;
  }
  .error2 img{
    max-width: 100%;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .error1 img{
    display: none;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    max-width: 100%;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .error1 img{
    display: none;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    max-width: 100%;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px){
  .error1 img{
    display: none;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    max-width: 100%;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .error1 img{
    display: none;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    max-width: 100%;
  }
  .error7 img{
    display: none;
  }
}
@media only screen and (max-device-width: 360px){
  .error1 img{
    display: none;
  }
  .error2 img{
    display: none;
  }
  .error3 img{
    display: none;
  }
  .error4 img{
    display: none;
  }
  .error5 img{
    display: none;
  }
  .error6 img{
    display: none;
  }
  .error7 img{
    max-width: 100%;
  }
}
