@font-face {
  font-family: "CoFoSans-Regular";
  src: url("../font/CoFoSans.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 200;
}
