@media only screen and (min-device-width: 1441px) and (max-device-width: 1920px) {
  .t31 {
    display: none;
  }
  .t30 {
    display: none;
  }
  .menu__btn {
    max-width: 100%;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .background img{
    max-width: 100%;
  }
  .background2 img{
    max-width: 100%;
  }
  .logo img{
    max-width: 100%;
  }
  .footerlogo img{
    max-width: 100%;
  }
  .footer {
    max-width: 100%;
  }

  p {
    max-width: 100%;
  }
  .t1 {
    max-width: 100%;
  }
  .t2 {
    max-width: 100%;
  }
  .t3 {
    max-width: 100%;
  }
  .t4 {
    max-width: 100%;
  }
  .t5 {
    max-width: 100%;
  }
  .t6 {
    max-width: 100%;
  }
  .t7 {
    max-width: 100%;
  }
  .t8 {
    max-width: 100%;
  }
  .t9 {
    max-width: 100%;
  }
  .t10 {
    max-width: 100%;
  }
  .t11 {
    max-width: 100%;
  }
  .t12 {
    max-width: 100%;
  }
  .t13 {
    max-width: 100%;
  }
  .t14 {
    max-width: 100%;
  }
  .t15 {
  max-width: 100%;
  }
  .t16 {
    max-width: 100%;
  }
  .t17 {
    max-width: 100%;
  }
  .t18 {
    max-width: 100%;
  }
  .t19 {
    max-width: 100%;
  }
  .t20 {
    max-width: 100%;
  }
  .t21 {
    max-width: 100%;
  }
  .t22 {
    max-width: 100%;
  }
  .t23 {
    max-width: 100%;
  }
  .t24 {
    max-width: 100%;
  }
  .t25 {
    max-width: 100%;
  }
  .t26 {
    max-width: 100%;
  }
  .t27 {
    max-width: 100%;
  }
  .t28 {
  max-width: 100%;
  }
  .edin {
    max-width: 100%;
  }
  .fone {
    display: none;
  }
  .ftwo {
    display: none;
  }
  .fthree {
    display: none;
  }
  .ffour {
    display: none;
  }
  .ffone {
    display: none;
  }
  .fftwo {
    display: none;
  }
  .ffthree {
    display: none;
  }
  .fffour {
    display: none;
  }
  .fffone {
    display: none;
  }
  .ffftwo {
    display: none;
  }
  .fffthree {
    display: none;
  }
  .ffffour {
    display: none;
  }
  .t29 {
    display: none;
  }
  .minione {
    display: none;
  }
  .minitwo {
    display: none;
  }
  .minithree {
    display: none;
  }
  .minifour {
    display: none;
  }
  .fminione {
    display: none;
  }
  .fminitwo {
    display: none;
  }
  .ffminione {
    display: none;
  }
  .ffminitwo {
    display: none;
  }
}
@media only screen and (min-device-width: 1367px) and (max-device-width: 1440px) {
  .t31 {
    display: none;
  }
  .t29 {
    display: none;
  }
  .t30 {
    display: none;
  }
  .menu__btn {
    top: 31px;
    right: 0px;
    left: 1385px;
  }
  .menu__box {
    max-width: 100%;
  }
  .menu__item {
    max-width: 100%;
  }
  .m1 {
      max-width: 100%;
  }
  .m2 {
      max-width: 100%;
  }
  .m2:hover {
      max-width: 100%;
  }
  .m3 {
      max-width: 100%;
  }
  .m3:hover {
    max-width: 100%;
  }
  .m4 {
    max-width: 100%;
  }
  .m4:hover {
  max-width: 100%;
  }
  .m5 {
    max-width: 100%;
  }
  .m5:hover {
    max-width: 100%;
  }
  .background img{
    max-width: 100%;
  }
  .background2 img{
    max-width: 100%;
  }
  .logo img{
    width: 87px;
    height: 29.23px;
    margin: 23px 0px 0px 30px;
  }
  .footerlogo img{
    margin: 858px 0px 0px 120.7px;
    width: 53.26px;
    height: 22px;
  }
  .footer {
    font-size: 13px;
    margin: 858.6px 0px 0px 30px;
  }

  p {
    font-size: 66px;
  }
  .t1 {
    margin: 97.09px 0px 0px 25.63px;
  }
  .t2 {
    margin: 97.09px 0px 0px 401.84px;
  }
  .t3 {
    margin: 97.09px 0px 0px 1152.33px;
  }
  .t4 {
    margin: 148.13px 0px 0px 26.37px;
  }
  .t5 {
    margin: 148.13px 0px 0px 659.37px;
  }
  .t6 {
    margin: 199.13px 0px 0px 26.37px;
  }
  .t7 {
    margin: 199.13px 0px 0px 503px;
  }
  .t8 {
    margin: 199.13px 0px 0px 858px;
  }
  .t9 {
    margin: 250px 0px 0px 27.19px;
  }
  .t10 {
    margin: 250px 0px 0px 696.93px;
  }
  .t11 {
    margin: 301.13px 0px 0px 27.19px;
  }
  .t12 {
    margin: 301.13px 0px 0px 972.75px;
  }
  .t13 {
    margin: 351.57px 0px 0px 26.37px;
  }
  .t14 {
    margin: 351.57px 0px 0px 902px;
  }
  .t15 {
    margin: 403.13px 0px 0px 26.37px;
  }
  .t16 {
    margin: 403.13px 0px 0px 560.39px;
  }
  .t17 {
    margin: 403.13px 0px 0px 1001px;
  }
  .t18 {
    margin: 454.7px 0px 0px 26.37px;
  }
  .t19 {
    margin: 454.7px 0px 0px 833.84px;
  }
  .t20 {
    margin: 505.57px 0px 0px 26.37px;
  }
  .t21 {
    margin: 505.57px 0px 0px 330px;
  }
  .t22 {
    margin: 505.57px 0px 0px 773.19px;
  }
  .t23 {
    margin: 556.13px 0px 0px 26.37px;
  }
  .t24 {
    margin: 556.13px 0px 0px 1001px;
  }
  .t25 {
    margin: 607.13px 0px 0px 26.37px;
  }
  .t26 {
    margin: 607.13px 0px 0px 647.94px;
  }
  .t27 {
    margin: 658.13px 0px 0px 26.37px;
  }
  .t28 {
    margin: 709.13px 0px 0px 26.37px;
  }
  .edin {
    display: none;
  }
  .fone {
    z-index: 2;
    position: absolute;
    margin: 88px 0px 0px 22px;
    animation-name: one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: linear;
  }
  @keyframes one {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(600px,0);
    }
  }
  .ftwo {
    z-index: 2;
    position: absolute;
    margin: 88px 0px 0px 616px;
    animation-name: two;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: linear;
  }
  @keyframes two {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-600px,0);
    }
  }
  .fthree {
    z-index: 2;
    position: absolute;
    margin: 396px 0px 0px 44px;
    animation-name: three;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: linear;
  }
  @keyframes three {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(600px,0);
    }
  }
  .ffour {
    z-index: 2;
    position: absolute;
    margin: 418px 0px 0px 572px;
    animation-name: four;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: linear;
  }
@keyframes four {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-600px,0);
  }

}
.ffone {
  display: none;
}
.fftwo {
  display: none;
}
.ffthree {
  display: none;
}
.fffour {
  display: none;
}
.fffone {
  display: none;
}
.ffftwo {
  display: none;
}
.fffthree {
  display: none;
}
.ffffour {
  display: none;
}
.minione {
  display: none;
}
.minitwo {
  display: none;
}
.minithree {
  display: none;
}
.minifour {
  display: none;
}
.fminione {
  display: none;
}
.fminitwo {
  display: none;
}
.ffminione {
  display: none;
}
.ffminitwo {
  display: none;
}
}
